body{   margin: 0;  font-family: Quicksand; font-size: 16px;    color: #0C3C60; }
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Quicksand&family=Roboto&display=swap');
.max-width{ width: 100%;    max-width: 1890px;  margin: auto;   }
.container{ display: flex;  align-items: center;    ;}
ul{ padding: 0; margin: 0;  list-style: none;   }
a{  text-decoration: none;  color: initial; }

/* Header */
header{ background-color: #0C3C60;  }
header .container{  justify-content: space-between; }
header ul li{   display: inline-block;  padding: 0 10px;    line-height: 80px;  }
header ul li:hover{ border-bottom: 3px solid #fff;  }
header .logo{   font-size: 30px;    }
header  a{ color: #fff;    }
